body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: white;
  position: fixed;
  top: 0px;
  padding-left: 0px;
  height: 100%;
  width: 26%;
  color: #e1ffff;
}

#title_image{
  padding-bottom: 8%;
  margin-top: 8%;
  display: block;
  margin-left: 3vh;
  margin-right: auto;
  width: 61%;
}

#footer_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 10px;
  width: 85%;
  left: 9%;
}

.buttons_option{
  height: 6.5% !important;
  margin-bottom: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#buttons_image_option{
	margin-top: 2%;
}

.sello_size{
	z-index: 100;
	visibility: hidden;
    width: 11%;
    margin: 3.7%;
    margin-top: -88vh;
    position: sticky;
}

#ContainerDesctipcion{
  text-align: justify;
	visibility: hidden;
	border-radius: 21px;
	background-color: rgba(255,255,255,0.73);
	width: 140vh;
  height: 50vh;
	-webkit-box-shadow: 6px 5px 20px -4px rgba(0,0,0,0.73); 
	box-shadow: 6px 5px 20px -4px rgba(0,0,0,0.73);
  margin-left: 5%;
	position: absolute; 
	bottom: 6%;
  
}

.SmallDescripcion{
	color: gray
}

#TitleDescripcion{
	font-weight: bold;
	border-radius: 21px;
  margin-left: 5%;
  text-indent: 2em;
}

#InmuebleDescripcion, #JuegosDescripcion, #CocinasDescripcion, #FiestasDescripcion,
#DanzaDescripcion, #MemoriaDescripcion, #ArtesaniaDescripcion,#ELEMENTOARQUITECTOÃÅNICODescripcion,#VALORHISTODescripcion,#VALORESTETICODescripcion,#VALORCULTURADescripcion {
	margin-right: 12%;
	display: none;
  padding-left: 20px
}

#MapsFrame{
	width: 100%;
  height: 100vh;
}

.boton {
	float: right;
	margin-right: 2vh;
	cursor: pointer;
}


  